
.icon-animal:before { content: '\e800'; } /* '' */
.icon-auto:before { content: '\e801'; } /* '' */
.icon-autopro:before { content: '\e802'; } /* '' */
.icon-deccenal:before { content: '\e803'; } /* '' */
.icon-habitation:before { content: '\e804'; } /* '' */
.icon-highttec:before { content: '\e805'; } /* '' */
.icon-moto:before { content: '\e806'; } /* '' */
.icon-multipro:before { content: '\e807'; } /* '' */
.icon-rcpro:before { content: '\e808'; } /* '' */
.icon-sante:before { content: '\e809'; } /* '' */
.icon-tns:before { content: '\e80a'; } /* '' */